* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body {
  font-family: 'Proza Libre';
  background-color: #29273D;
}

header {
  display: flex;
  background-image:
    linear-gradient(
      to right,
      #212135, #3B3863
    )
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  padding: 20px;
  font-size: 3em;
  background: -webkit-linear-gradient(#fff, #3B3863);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  text-align: center;
  font-size: 2em;
  margin: 10px;
  color: #FFF;
}

h4 {
  font-weight: normal;
  text-align: center;
  font-size: 1.75em;
  margin: 5px;
}


.run-guy {
  height: 70px;
}

main {
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #d6d7e4;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .9)), url(../assets/polygon.jpg);
  background-size: cover;
}

.welcome-banner {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 200px;

}


.photo-and-info {
  display: flex;
  align-items: center;
  width: 50%;
  padding: 10px;
}

.column {
  display: flex;
  flex-direction: column;
}

p {
  margin: 10px;
  font-size: 20px;
}

.user-name {
  font-weight: bold;
}

.user-data {
  padding-left: 15px;
}

.specific-user-section {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info {
  width: 145px;
  padding: 20px;
  background-color: lightgrey;
}

.info:hover {
  border: 2px solid black;
}

.you {
  font-weight: bold;
}

.specific-widget-area {
  display: flex;
  border-top: 15px solid #29273D;
}
.general-widget-area {
  display: flex;
  border-top: 15px solid #29273D;
}

.none {
  display: none;
}


.widget {
  display: flex;
  flex: 1;
  justify-content: center;
  border-left: 15px solid #29273D;
  height: 300px;
}

.hydration {
  flex: 2
}

.sleep {
  flex: 1;
  border-left: none;
}

.activity:hover {
  transform: scale(1.10);
}

.sleep:hover {
  transform: scale(1.10);
}

.user:hover {
  transform: scale(1.10);
}

.activity-2:hover {
  transform: scale(1.10);
}

.hydration:hover {
  transform: scale(1.10);
}

.user {
  border-left: none;
}

#bar-chart {
  color: white;
  margin: 5px;
}
